@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

/*CSS RESET*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}


:root {
    --black:#000;
    --darkgrey1: #525151;
    --darkgrey2: #413C3C;
    --orange:#f3a008;
}


.App {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: var(--darkgrey1);
}


main {
    margin-top: 120px;
    width: 100%;
}

.test {
    color: white;
}


